body {
    background-color: #1e1e1e;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/* #shell {
    width: 80%;
    max-width: 800px;
    height: 400px;
    background-color: black;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
} */

#terminal-icon {
    position: absolute;
    top: 10px; /* 10px dal bordo superiore della pagina */
    left: 10px; /* 10px dal bordo destro della pagina */
    width: 50px; /* Regola la dimensione in base alle tue esigenze */
    height: auto;
    z-index: 0;
    opacity: 0;
}

#shell {
    width: 700px;
    height: 450px;

    background-color: black; /* Colore di sfondo del terminale */
    border-radius: 10px; /* Angoli arrotondati */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Ombra per profondità */
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    font-family: "menlo";
    font-size: 14px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Stile per la barra in alto del terminale (in stile MacOS) */
.terminal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: #ececec; /* Colore chiaro della barra */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0; /* Mantiene la barra visibile durante lo scroll */
}

.terminal-title {
    flex: 1;
    text-align: center;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    font-family: "menlo";
}

/* Barra minimizzata */
#minimizedBar {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #ececec;
    padding: 0px;
    border-radius: 10px;
    font-family: "menlo";
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#restoreBtn {
    background-color: #ececec;
    font-family: "menlo";
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
}

#restoreBtn:hover {
    background-color: #ccc;
}

.buttons {
    display: flex;
    gap: 8px;
}

.button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.button.close {
    background-color: #ff5f57; /* Colore chiusura */
}

.button.close:hover::after {
    color: white;
    content: "x";
    font-size: 10px;
    position: absolute;
    top: 0px;
    left: 3px;
}


.button.minimize {
    background-color: #ffbd2e; /* Colore minimizzazione */
}

.button.minimize:hover::after {
    color: white;
    content: "-";
    font-size: 10px;
    position: absolute;
    top: 0px;
    left: 3px;
}

.button.maximize {
    background-color: #28c840; /* Colore massimizzazione */
}

.button.maximize:hover::after {
    color: white;
    content: "+";
    font-size: 10px;
    position: absolute;
    top: 0px;
    left: 3px;
}

.input-line {
    display: flex;
    align-items: center; /* Assicura che il testo del prompt e l'input siano allineati */
    font-family: "menlo";
    font-size: 14px;
}

.prompt {
    margin-right: 5px;
    white-space: nowrap; /* Assicura che il prompt non vada a capo */
}

input {
    background-color: black;
    color: #00ff00;
    border: none;
    outline: none;
    font-family: "menlo";
    font-size: 14px;
    /* font-family: 'Courier New', Courier, monospace;
    font-size: 16px; */
    width: auto; /* Cambia width a auto così che l'input occupi solo lo spazio necessario */
    flex-grow: 1; /* Permette all'input di espandersi per occupare il resto dello spazio orizzontale */
}

input:focus {
    outline: none;
}
.output {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.output .prompt {
    margin-right: 5px;
    white-space: nowrap;
}

.output .command {
    white-space: pre-wrap; /* Mantieni lo spazio del testo inserito */
}

.input-line, .output {
    display: flex;
    align-items: center;
}

.prompt {
    margin-right: 5px;
    white-space: nowrap;
}

.command {
    white-space: pre-wrap; /* Mantieni lo spazio del testo inserito */
    flex-grow: 1; /* Assicurati che il comando occupi lo spazio rimanente */
}

a:link {
    color: #00ff00;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: #00ff00;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #00ff00;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #00ff00;
    background-color: transparent;
    text-decoration: underline;
}
#shareButton {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#shareButton i {
    margin-right: 1px;
}

#shareButton:hover {
    transform: scale(1.2);
}
#shareButton:active {
    color: white;
}

#hoverImage {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px; /* Puoi modificare la dimensione come preferisci */
    height: auto;
    transition: 0.4s; /* Transizione fluida quando cambia immagine */
}

/* Cambia l'immagine quando il mouse passa sopra */
#hoverImage:hover {
    content: url('../images/final_logo_white.png'); /* Immagine alternativa quando il mouse è sopra */
    transition: 0.7s;
    width: 50px;
}

.controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: scale(1.3) translateX(-50%);
    display: flex;
    gap: 15px;
}

.controls button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 28px; /* Dimensione icone */
    transition: transform 0.3s ease-in-out;
}

.controls button i {
    color: #ffffff;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.controls button:hover {
    transform: scale(1.2);
}